footer {
    display: block;
    align-items: center;
    position: relative;
}

.social-links > .fa {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    width: 2em;
    font-size: 1em;
    height: 2em;
    margin: 0 0.5em;
    box-shadow: white 0px 2px 0px 0px;
}

.social-links > .fa:hover {
    border-radius: 2.5em;
    width: 3em;
    height: 3em;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-medium {
    background-color: #00AB6C;
    color: white;
}

.fa-github {
    background-color: black;
    color: white;
}

.fa-linkedin {
    background: #0e76a8;
    color: white;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 16, 16, 0.85);
    padding: 5vh;
    height: 3em;
}

@media (min-height: 700px) and (min-width: 400px){
    footer {
        position: fixed;
        bottom: 0vh;
        width: 100%;
    }
}

@media(max-width: 400px) {
    .social-links {
        flex-direction: column;
        height: auto;
    }

    .social-links > .fa {
        margin: 3vh;
    }

    .social-links > .fa:hover  {
        border-radius: 2em;
        width: 2em;
        height: 2em;
    }
}