@import "footer.css";

body {
    height: 100%;
    background-image: linear-gradient(#00859c, white);
    background-repeat: no-repeat;
    height: 100%;
    margin: auto 0px 0px 0px;
}

.profile-pic {
    border-radius: 7vw;
    width: 15vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
    margin-bottom: 6vw;
    min-height: 131px;
    min-width: 131px;
}

.name-bar {
    text-align: center;
    font-size: 2em;
}

.about-me {
    display: flex;
    font-style: italic;
    text-align: center;
    padding: 2vh 10vw;
}

@media (max-width: 1000px) {
    .name-bar {
        text-align: center;
        font-size: 10vw;
    }
}

#top-nav {
    padding-left: 5vw;
}

#navbar-toggler {
    margin-left: 2vw; 
    width: auto;
    background-color: transparent;
    border-color: turquoise;
    box-shadow: turquoise 0px 0px 7px 0px;
}

#navbar-brand {
    font-size: 0.75em;
    padding-left: 5vw;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
}